<ul class="icons">
  {% if site.footer-links.facebook %}<li><a href="#" class="fa-facebook fa-2x"><span class="label">Facebook</span></a></li>{% endif %}
  {% if site.footer-links.instagram %}<li><a href="#" class="fa-instagram fa-2x"><span class="label">Instagram</span></a></li>{% endif %}
  {% if site.footer-links.rss %}<li><a href="#" class="fa-rss fa-2x"><span class="label">RSS</span></a></li>{% endif %}
  {% if site.footer-links.email %}<li><a href="#" class="fa-envelope fa-2x"><span class="label">Email</span></a></li>{% endif %}
  {% if site.footer-links.twitter %}<li><a href="#" class="fa-twitter fa-2x"><span class="label">Twitter</span></a></li>{% endif %}
  {% if site.footer-links.github %}<li><a href="#" class="fa-github fa-2x"><span class="label">Github</span></a></li>{% endif %}
</ul>
