<section id="sidebar">

  <!-- Intro -->
    <section id="intro">
      <a href="{{ site.baseur l}}" class="logo"><img src="{{ site.logo }}" alt="" /></a>
      <header>
        <h2>{{ site.tagline }}</h2>
        <p>{{ site.description }}</p>
      </header>
    </section>

  <!-- Mini Posts -->
    <!--
    <section>
      <div class="mini-posts">
    -->

        <!-- Mini Post -->
          <!--
          <article class="mini-post">
            <header>
              <h3><a href="#">Vitae sed condimentum</a></h3>
              <time class="published" datetime="2015-10-20">October 20, 2015</time>
              <a href="#" class="author"><img src="/images/avatar.jpg" alt="" /></a>
            </header>
            <a href="#" class="image"><img src="/images/pic04.jpg" alt="" /></a>
          </article>
          -->
    <!--
      </div>
    </section>
    -->

  <!-- Posts List -->
    <section>
      <ul class="posts">
        {% for post in site.posts limit:5 %}
        <li>
          <article>
            <header>
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <time class="published" datetime="{{ post.date }}">{{ post.date | date: '%B %d, %Y' }}</time>
            </header>
            <a href="{{ post.url }}" class="image"><img src="{{ post.image }}" alt="" /></a>
          </article>
        </li>
        {% endfor %}
      </ul>
    </section>

  <!-- About -->
    <section class="blurb">
      <h2>About</h2>
      <p>{{ site.author.blurb }}</p>
      <ul class="actions">
        <li><a href="{{ site.about }}" class="button">Learn More</a></li>
      </ul>
    </section>

  <!-- Footer -->
    <section id="footer">
      {% include icons.html %}
      <p class="copyright">&copy; Michael Lai. Design: <a href="http://html5up.net">HTML5 UP</a>.</p>
    </section>

</section>
