---
layout: default
---
<article class="post">
  <header>
    <div class="title">
      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      <p>{{ page.subtitle }}</p>
    </div>
    <div class="meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | date: '%B %d, %Y' }}</time>
      <a href="{{ site.author.about }}" class="author"><span class="name">{{ site.author.name }}</span>
        <img src="{{ site.author.avatar }}" alt="" /></a>
    </div>
  </header>
  <a href="#" class="image featured"><img src="{{ page.image }}" alt="" /></a>
  <p>{{ content }}</p>
  <footer>
    <ul class="actions pagination">
      {% if page.previous %}
      <li><a href="{{ page.previous.url }}" class="button big previous">Previous Page</a></li>
      {% else %}
      <li><a href="" class="disabled button big previous">Previous Page</a></li>
      {% endif %}
      {% if page.next %}
      <li><a href="{{ page.next.url }}" class="button big next">Next Page</a></li>
      {% else %}
      <li><a href="" class="disabled button big next">Next Page</a></li>
      {% endif %}
    </ul>
    <ul class="stats">
      {% for tag in page.tags %}
      <li><a href="/categories/#{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </footer>
  <div id="disqus_thread"></div>
    <script>
    var disqus_developer = 1; // Comment out when the site is live
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    /*
    var disqus_config = function () {
    this.page.url = {{ page.url }}; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = {{ page.url }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//mdlai.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
